# Carpetas de compilación
build/
cmake-build-*/

# Qt Creator
*.user
*.user.*
.qtc_clangd/

# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ejecutables y objetos
*.exe
*.obj
*.o
*.dll
*.a
*.lib

# Archivos temporales
*.log